{% extends 'marine/base.html' %}

{% block content %}
    <table style="width:40%" border="1">
        <tr>
            <th>Miejsce</th>
            <th>Zajęte do</th>
            <th>Rezerwuj</th>
        </tr>

    {% for parking_place in parking_places %}
        <tr>
            <th>{{ parking_place.parking_place }}</th>
            <th>
                {% if parking_place.occupied_to and not parking_place.place_free %}
                {{ parking_place.occupied_to }}
                {% else %} WOLNE
                {% endif %}
            </th>
            <th>

                {% if parking_place.place_free %}
                    <a href="{% url 'marine:new_book' parking_place.id %}">Rezerwuj</a>
                {% else %}
                    <button type="button" disabled>Rezerwuj</button>
                {% endif %}

            </th>
        </tr>
    {% endfor %}
    </table>
{% endblock %}